/* Кастомный курсор */
.custom-cursor {
    position: fixed;
    width: 20px; /* Диаметр круга */
    height: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Цвет круга */
    border-radius: 50%;
    pointer-events: none; /* Отключаем взаимодействие с элементом */
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: transform 0.1s ease-out, background-color 0.2s ease;
}

/* Эффект увеличения курсора при наведении на ссылку */
.custom-cursor.hover {
    transform: translate(-50%, -50%) scale(1.5);
    background-color: rgba(0, 0, 0, 0.5);
}

